asgiref==3.11.0
crispy-bootstrap5==2025.6
Django==5.0
django-ckeditor==6.7.0
django-cors-headers==4.3.1
django-crispy-forms==2.5
django-environ==0.11.2
django-js-asset==3.1.2
django-storages==1.14.2
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
python-decouple==3.8
pytz==2025.2
sqlparse==0.5.4
whitenoise==6.6.0
dj-database-url==1.2.0
boto3==1.28.39